<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dogs&Cats Classifier</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
   
</head>
<body>
    <header>   
        <a class="header-logo" href="#">犬猫判別</a>
    </header>
    <div class="container">
        <div class="main">    
            <h2> 送信された犬か猫の画像をAIが判別します</h2>
            <p>ファイル選択後に、判定開始を実行してください</p>
            <form method="POST" enctype="multipart/form-data">
                <label for="file_upload">
                    ファイルを選択する
                    <input class="file_choose" type="file" name="file" id="file_upload">
                </label>  
                <input class="btn" value="判定開始" type="submit">
            </form>
            <div class="answer">{{answer}}</div>
        </div>
    </div>
    <footer>
        <small>&copy; 2024 6D </small>   
    </footer>

</body>
</html>
