/* 右側の要素のスタイル */
.right {
    width: 50%; /* 初期は50%幅に設定 */
    text-align: center; /* テキストを中央揃えにする */
}

/* スマートフォンや狭い画面サイズの場合のスタイル */
@media (max-width: 767px) {
    .right {
        width: 100%; /* 画面幅が767px以下の場合、right要素を100%幅に設定 */
    }
}

/* 左側の要素のスタイル */
.left {
    width: 100%; /* 左側の要素を100%幅に設定 */
    background-image: url(../ep_memo.css/haikei3.jpg); /* 背景画像の設定 */
    background-repeat: no-repeat; /* 背景画像の繰り返しを無効化 */
    background-size: contain; /* 画像を要素内に収める */
    background-position: center; /* 画像を中央に配置 */
}

@media (min-width: 768px) {
    .left {
        width: 50vw; /* 画面幅が768px以上の場合に左側の要素を50%幅に設定 */
    }
}

/* 右側要素内の段落のスタイル */
.right > p {
    padding: 3%; /* 内側の余白を設定 */
    background-color: #fff; /* 背景色を白に設定 */
    margin: 0 auto; /* 左右の余白を自動で設定 */
}

/* 全体のbody要素のスタイル */
body {
    font-family: 'Kiwi Maru', serif; /* フォントの設定 */
    display: flex; /* 要素をフレックスボックスとして表示 */
    height: calc(100vh + 150px); /* 高さを画面の高さに100ピクセルを加えた値に設定 */
}

/* 段落要素のスタイル */
p {
    display: block; /* 段落要素をブロック要素として表示 */
    font-size: 14px; /* フォントサイズを14ピクセルに設定 */
    margin-block-start: 1em; /* 上側のマージンを1emに設定 */
    margin-block-end: 1em; /* 下側のマージンを1emに設定 */
    margin-inline-start: 0px; /* 左側のマージンを0に設定 */
    margin-inline-end: 0px; /* 右側のマージンを0に設定 */
    text-align: left; /* テキストを左揃えにする */
}

/* div要素のスタイル */
div {
    display: block; /* div要素をブロック要素として表示 */
}

/* ディスクレームのスタイル */
.dc {
    font-size: 8px; /* フォントサイズを8ピクセルに設定 */
    display: inline-block; /* インラインブロック要素として表示 */
}

/* ネオン風の下線を持つ要素のスタイル */
.neon-underline {
    position: relative; /* 相対位置指定 */
    display: inline-block; /* インラインブロック要素として表示 */
    text-decoration: none; /* テキストの下線を無効化 */
    color: #000; /* テキストの色を黒に設定 */
}

/* ネオン風の下線を生成する疑似要素のスタイル */
.neon-underline:before {
    content: ''; /* 疑似要素のコンテンツを空にする */
    position: absolute; /* 絶対位置指定 */
    left: -7px; /* 左端からの位置 */
    bottom: -2px; /* 下端からの位置 */
    width: 120%; /* 幅を120%に設定 */
    height: 4px; /* 下線の太さ */
    background: linear-gradient(90deg, #00eaff, #11ff00, #ffff00, #ff00ea, #ff0000); /* ネオン風のグラデーション */
    background-size: 200% 200%; /* 背景のサイズを設定 */
    animation: neon 1.5s linear infinite alternate; /* ネオン風のアニメーション */
}

/* ネオン風のアニメーション */
@keyframes neon {
    from {
        background-position: 0 0; /* 開始位置 */
    }
    to {
        background-position: 100% 100%; /* 終了位置 */
    }
}
