body {
    align-items: center;
    text-align: center;
    font-family: 'Kiwi Maru', serif; /* フォントの設定 */
}
/*--------------------------------*/
/*--------------------------------*/
.wrapper {
	max-width: 920px;
	margin: 0 auto;
	padding: 0 10px 0 10px;   
}

.content {
    display: flex;
    align-items: center; /* アイテムを垂直方向に中央寄せ */
}

.content img {
    width: 400px;
    height: auto;
    margin-right: 20px; 
    padding: 20px;
}

.text {
    flex: 1; /* テキストを拡張し、残りのスペースを埋める */
}
.text p {
    text-align: left;
}
.dc {
    font-size: 12px; 
}


/* ネオン風の下線を持つ要素のスタイル */
.neon-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000; /* テキストの色を黒に設定 */
}

.neon-underline:before {
    content: ''; /* 疑似要素のコンテンツを空にする */
    position: absolute;
    left: -7px;
    bottom: -2px; /* 下線の位置を微調整 */
    width: 120%;
    height: 4px; /* 下線の太さ */
    background: linear-gradient(90deg, #00eaff, #11ff00, #ffff00, #ff00ea, #ff0000); /* ネオン風のグラデーション */
    background-size: 200% 200%;
    animation: neon 1.5s linear infinite alternate; /* ネオン風のアニメーション */
}

/* ネオン風のアニメーション */
@keyframes neon {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
/*--------------------------------*/

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column; /* 垂直方向に要素を並べる */
    }
    
    .content img {
        max-width: 80%; /* 画像が親要素の幅を超えないようにする */
        margin-bottom: 20px; /* 適宜調整 */
    }
}