body {
    font-family: 'Noto Serif', serif;
    background-image: url(./images/haikei4.png);
    background-size: cover; 
}


/* header {
    background-color: #5b75cc;
    height: 60px;
    margin-top: -8px;
    margin-left:-8px;
    margin-right:-8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    opacity:0.7;
} */

/* .header-logo {
    color: #fff;
    font-size: 25px;

} */

/* header */
/* header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
} */
.dark{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgba(1, 10, 1, 0.7);
}

.neontext {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  font-size: 40px;
}
.head_dog {
    width: auto;
    height: 90px;
    margin: 30px; 
    opacity: 0.6;
}

.head_cat {
    width: auto;
    height: 100px;
    margin: 30px; 
    opacity: 0.6;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {
      text-shadow: none;
  }
}

/* main */
.container{
    /* background-image: url(haikei3.jpg); */
    background-size:auto;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-20px;
    text-align: center;
}

.main {
    height: 630px;
}

.animated-text p {
    font-size:25px;
    color:#CCFF33;
    text-align: center;
}

label{
    color:#CCFF33;
    font-size:30px;
    margin-right:20px;
    opacity:0.9;
    text-align: center;
}

label:hover{
    opacity:1;
    cursor: pointer;
}


.answer {
    color: rgb(65, 64, 63);
    margin: 141px 0px 0px 0px;
    text-align: center;
    font-size:30px;
    background-color: rgb(172, 170, 169);
}

form {
    text-align: center;
}

footer {
    background-color: #F7F7F7;
    height: 10px;
    margin: -8px;
    position: relative;
}

small {
    margin: 20px 5px;
    position: absolute;
    float:left;
    bottom: 0;
}

.btn{
    font-size:20px;
    padding:15px 20px;
    color:rgb(89, 107, 107);
    background-color:#abbfcf;
    border-radius: 6px;
    opacity:0.8;
}

.btn:hover{
    opacity:1;
    cursor: pointer;
}

.file_choose{
    display:none;
    font-size:15px;
    padding:0px 0px;
    color:rgb(231, 231, 231);  
}

