header {
    background-color: #5b75cc;
    height: 60px;
    margin-top: -8px;
    margin-left:-8px;
    margin-right:-8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    opacity:0.7;
}

.header-logo {
    color: #fff;
    font-size: 25px;
    margin: 15px 25px;
}

.container{
    background-image: url(animal41.png);
    background-size:cover;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-20px;
    text-align: center;
}

.main {
    height: 630px;
}

h2 {
    color: rgb(160, 247, 247);
    margin-bottom: 45px;
    padding-top: 30px;
    text-align: center;
    font-size:50px;
}

p {
    font-size:35px;
    color: rgb(199, 247, 247);
    margin: 20px 0px 150px 0px;
    text-align: center;
}

.answer {
    color: rgb(65, 64, 63);
    margin: 141px 0px 0px 0px;
    text-align: center;
    font-size:40px;
    font-family: 'Arial Narrow Bold';
    background-color: rgb(172, 170, 169);
}

form {
    text-align: center;
}

footer {
    background-color: #F7F7F7;
    height: 70px;
    margin: -8px;
    position: relative;
}

small {
    margin: 20px 5px;
    position: absolute;
    float:left;
    bottom: 0;
}

.btn{
    font-size:20px;
    padding:15px 20px;
    color:rgb(89, 107, 107);
    background-color:#cbe3f7;
    border-radius: 6px;
    opacity:0.8;
    font-family: 'Arial Narrow Bold';
}

.btn:hover{
    opacity:1;
    cursor: pointer;
}

.file_choose{
    display:none;
    font-size:15px;
    padding:0px 0px;
    color:rgb(231, 231, 231);  
}

label{
    color:rgb(58, 252, 252);
    font-size:45px;
    margin-right:20px;
    opacity:0.9;
    text-align: center;
}

label:hover{
    opacity:1;
    cursor: pointer;
}
